<div class="container-fluid" style="padding: 0;"> <!-- On créé notre container -->

    <header class="sticky"> <!-- On créé notre Header -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-around align-items-center bg-primary py-1" style="padding: 0;">
                    <div class="pt-1">
                        <a href="index.php" class="navbar-brand"><h1 class="text-white">Airbnb</h1></a>
                    </div>
                    <div>
                        <a href="creer.php"><button class="btn btn-light text-primary" type="submit">Créer une annonce</button></a>
                    </div>
                </div>
            </div>
        </div>
    </header>